body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #165DFF;
  --error-color: #ff0000;
  --hover-color: #E8F3FF;
  --text-color: #272E3B;
  --active-bg-color: #E8F3FF;
  --hover-bg-color: #F7F8FA;
  --border-radius: 4px;
}